:root {
 --card-min-height: 33em;
 --card-max-width: 22em;
 --rock-black: #1e1d22;
 --rock-orange: #d27831;
 --rock-brown: #c06619;
 --main-nav-background-color: white;
 font-family: "Liberation Sans", sans-serif;
 font-size: 12pt;
 color: var(--rock-black);
 background-color: var(--rock-black);
}

/* the h1 header is only for screenreaders */
h1 {
 position: absolute;
 left: -100000px;
 top: auto;
 width: 1px;
 height: 1px;
 overflow: hidden;
}

body {
 margin: 0 0 0 0;
}

header {
 display: flex;
 flex-direction: row;
 align-content: center;
 align-items: center;
 gap: 2em;
 background-color: slategrey;
 flex-wrap: wrap;
 justify-content: center;
 padding-top: 2.5em;
 padding-bottom: 2em;
}

header > img {
 width: 20em;
 height: auto;
}

header > nav {
 width: calc(100% - 26em);
 min-width: 22em;
}

header > nav > ul {
 display: flex;
 flex-direction: row;
 list-style-type: none;
 justify-content: space-around;
 background-color: var(--main-nav-background-color);
 padding-left: 0;
 padding-top: .75em;
 padding-bottom: .75em;
 border-radius: .5em;
}

header > nav > ul > li > a {
 color: black;
 padding: .5em .5em .5em .5em;
 border-radius: .5em;
 text-decoration: none;
 border-width: 1px;
 border-color: var(--main-nav-background-color);
 border-style: solid;
}

header > nav > ul > li > a:hover {
 background-color: lightgrey;
 border-color: darkgrey;
}

main {
 background-color: var(--rock-black);
 padding: 1em 1em 1em 1em;
 display: flex;
 flex-direction: column;
}

main > section {
 background-color: white;
 margin: 0 0 0 0;
 display: flex;
 flex-direction: column;
}

main > section:first-child {
 border-radius: .5em .5em 0em 0em;
}

main > section:last-child {
 border-radius: 0em 0em .5em .5em;
}

main > section > * {
 margin-left: 2rem;
 margin-right: 2rem;
 padding: 0 0 0 0;
}

main > section > h2 {
 color: var(--rock-orange);
}

.products > h2 {
 width: fit-content;
}

.products > ul {
 display: grid;
 grid-template-columns: repeat(auto-fit, min(100%, var(--card-max-width)));
 gap: 2em;
 list-style-type: none;
 padding-left: 0;
 justify-content: center;
}
/*
@media (max-width: 26em) {
 .products > ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
 }
}
*/
.products > ul > li > h3 {
 text-align: center;
}

.products > ul > li > .card > * {
 margin: 0 0 0 0;
}

.products > ul > li > .card {
 background-color: var(--rock-orange);
 border-radius: .5em;
 padding: 0 1em 0 1em;
 color: white;
 font-weight: bold;
 min-height: var(--card-min-height);
 display: grid;
 grid-template-rows: 1fr 3px max-content 3px 4em;
 grid-template-columns: 100%;
 align-items: center;
}

.products > ul > li > .card > div {
 align-self: start;
 margin-bottom: 1em;
}

.products > ul > li > .card > hr {
 width: 100%;
 height: 100%;
 border: none;
 border-radius: 1em;
 background-color: var(--rock-brown);
}

.products > ul > li > .card > dl {
 display: grid;
 grid-template-columns: max-content 1fr;
 grid-auto-rows: auto;
 margin-top: 1em;
 margin-bottom: 1em;
 gap: 1em;
}

.products > ul > li > .card > dl > dt::after {
 content: ":";
}

.products > ul > li > .card > dl > dd {
 margin-left: 0;
}

.products > ul > li > .card > b {
 text-align: center;
}

.products > ul > li > .card > b > a {
 color: white;
 display: block;
 margin: 0 auto;
 padding: .5em .5em .5em .5em;
 border-radius: .5em;
 text-decoration: none;
 width: fit-content;
}

.products > ul > li > .card > b > a:hover {
 background-color: var(--rock-brown);
}

footer {
 background-color: var(--rock-black);
 color: white;
 padding: 1em 1em 1em 1em;
 text-align: center;
 font-weight: bold;
}
